* {

    font-family: 'Merriweather', 'Inter';
}

/*Banner Style*/

.banner {
    background-image: linear-gradient(rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)), url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    padding: 250px;
    margin-left: 70px;
    width: 820px;
    height: 110px;
    border-radius: 20px;
}

.banner p {
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    margin-top: -57px;
    font-family: 'Merriweather';
}

.banner h1 {
    text-align: center;
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    font-family: 'Merriweather';
}

/*Offer Style*/

.section-heading {
    margin-top: 90px;
}

.offer-h1 {
    font-family: 'Inter';
    text-align: center;
    font-size: 75px;
    font-weight: 700;
    color: red;
    margin-bottom: 50px;
}

.offer-h5 {
    font-family: 'Inter';
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: red;
    margin-bottom: -22px;
}

.offer-p {
    font-family: 'Inter';
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: black;
    height: 100px;
    margin-bottom: -22px;
}

.offer-img {
    margin-left: 380px;
    width: 50%;
    height: 50%;
}

/*Welcome Style*/

.welcome-banner{
    background-image: linear-gradient(rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    padding: 250px;
    margin-left: 70px;
    width: 820px;
    height: 110px;
    border-radius: 20px;
}

.banner-content{
    margin: 50px 150px 50px 0px;
    align-items: center;
}

.banner-title{
    color: #fff;
    font-family: 'Merriweather';
    font-size: 70px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description{
    color: #fff;
    font-family: 'Inter';
}